.about {
  @extend %page;
  background-color: $color-cadet-blue;
  color: $color-bright-gray;
}
.about__wrapper {
}
.about__title {
  @extend %title-100;
  margin: auto;
  text-align: center;

  @include media("<phone") {
    max-width: 72rem;
  }
}
