*,
*:after,
*:before {
  box-sizing: border-box;
  user-select: none;
}

html {
  @extend %cover;
  font-size: calc(100vw / 1920) * 10;
  position: fixed;
  background-color: $color-contessa;
  @include media(">desktop") {
    font-size: 10px;
  }

  @include media("<phone") {
    font-size: calc(100vw / 750) * 10;
  }
}

body {
  @extend %cover;
  @extend %description-16;

  // background-color: $color-contessa;
  font-family: $font-suisse-bp;
  position: fixed;
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  outline: none;
}

img {
  opacity: 0;
  transition: opacity 0.4s ease;
  vertical-align: middle;

  &.loaded {
    opacity: 1;
  }
}

.content {
  @extend %cover;
}

[data-animation="title"],
[data-animation="paragraph"] {
  span {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
  }
}

canvas {
  pointer-events: none;
  position: relative;
  z-index: z("canvas");
}
